<div id='modalAbout' class='modal hide fade'>
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
    <h3>MindMup: free online mind mapping</h3>
  </div>
  <div class='modal-body'>
    <p>MindMup is a free, 
    <a href="http://github.com/mindmup" target="_blank" data-category="About" data-event-type="(Intro) Source Code">opensource</a>, online mindmapping canvas. Our aim is to build the most productive mind map system online. MindMup is:</p>
	<p><strong>Zero friction</strong>: Access your data anywhere, from any device. Use our 
	<a data-category="About" data-event-type="(Intro) Public maps"
		href="http://blog.mindmup.com/p/storage-options.html" target="_blank">free cloud storage</a> for public mindmaps.
	Store <a 
		data-category="About" data-event-type="(Intro) Private maps"
		target="_blank" href="http://blog.mindmup.com/p/storage-options.html">private mind maps on Google Drive</a>, 
	with detailed access and sharing control. All this without the need to register, have accounts or remember passwords.</p>
    <p><strong>Productive</strong>: 
	User interface automatically adjusts to touch displays or desktops/laptops systems. On desktops, all map operations have <a 
		data-category="About" data-event-type="(Intro) Keyboard shortcuts"
		target="_blank" href="http://blog.mindmup.com/p/keyboard-shortcuts.html">keyboard shortcuts</a>.
	On mobile devices, toolbars convert to touch menus and buttons become larger. You can <a 
		data-category="About" data-event-type="(Intro) Hide Toolbars"
		target="_blank" href="http://blog.mindmup.com/2013/03/go-full-screen-remove-all-distractions.html">hide all the menus and toolbars</a> to get the most out
    of your screen and we use HTML5 capabilities to enable you to get the most out of your browser. Smart bookmarks allow you to quickly continue where you left off.
    </p>
    <p><strong>Community-driven and Open</strong>: MindMup is free, opensource, without any marketing, ads or spam. We built the software for ourselves and we respect our users. Freemind 
    import/export allows users to easily take mindmaps in and out. Development is user-driven, and we work on the features 
    <a href="http://mindmup.uservoice.com" target="_blank" data-category="About" data-event-type="(Intro) Vote on features">our users vote for</a>.</p>
    <p>
    To join the community and get notified about future changes,
    <a target="_blank" href="http://facebook.com/mindmupapp" data-category="About" data-event-type="(Intro) Connect on FB">connect on Facebook</a>,
    <a target="_blank" href="http://twitter.com/mindmup" data-category="About" data-event-type="(Intro) Connect on Twitter">follow on Twitter</a> or 
    <a target="_blank" href="https://plus.google.com/u/0/communities/112831595986131146219" data-category="About" data-event-type="(Intro) Connect on G+">join us on Google+</a>.
    </p>
  </div>
  <div class='modal-footer'>
    <a href='#' data-dismiss='modal' class='btn btn-primary'>Close</a>
  </div>
</div>
