<div id='modalAbout' class='modal hide fade'>
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
    <h3>MindMup: free online mind mapping</h3>
  </div>
  <div class='modal-body'>
      <p>We aim to create the most productive mind mapping canvas out there, and remove
      all the distractions. </p>
      <p><strong>Editing maps:</strong> Use the toolbar in the top left corner to
      edit maps, and make sure to check out the keyboard shortcuts - click the
      keyboard toolbar icon to see the list. You can also use the mouse to drag and drop nodes
      around and to scroll the map (drag the central node, or anywhere outside the map)</p>
      </p>
      <p><strong>Sharing maps:</strong> As soon as you change a map, the Save button will appear in the toolbar. Click it and your new map gets a unique URL. 
      Remember that every time you save, the map gets a new URL. Just copy &amp; share the URL with colleagues and friends, or use one the
      Share toobar (top-right) to send it to a social networking site. Anyone can edit the map, but won't change your copy.
      </p>
      <p><strong>Smart bookmarks:</strong> We remember the last map you looked at, so when you come to the homepage again, you can 
      just continue working where you left off.</p>
  </div>
  <div class='modal-footer'>
    <a href='#' data-dismiss='modal' class='btn btn-primary'>Close</a>
  </div>
</div>
