<div id="modalAttachmentEditor" class="hide">
    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
      <span class="btn-group">
        <a class="btn btn-small dropdown-toggle" rel='tooltip' data-placement='bottom' data-toggle="dropdown" title="Font"><i class="icon-font"></i><b class="caret"></b></a>
          <ul class="dropdown-menu" data-mm-role='font'></ul>
        </span>
      <span class="btn-group">
        <a class="btn btn-small dropdown-toggle" rel='tooltip' data-placement='bottom' data-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
          <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
          <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
          </ul>
      </span>
      <span class="btn-group hidden-phone">
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
      </span>
      <span class="btn-group hidden-phone">
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ol"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="insertorderedlist" title="Number list"><i class="icon-list-ul"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
      </span>
      <span class="btn-group visible-desktop" >
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
      </span>
      <span class="btn-group visible-desktop">
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
      </span>
      <span class="btn-group">
        <a class="btn btn-small" rel="tooltip" data-placement="bottom" title="Insert picture (or just drag & drop)" id="pictureBtn"><i class="icon-picture"></i></a>
        <input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" />
		    <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" rel='tooltip' data-placement='bottom' title="Hyperlink"><i class="icon-link"></i></a>
		      <span class="dropdown-menu input-append">

			      <input class="span2" placeholder="URL" type="text" data-edit="createLink"/>
			      <button class="btn" type="button">Add</button>
          </span>
          <a class="btn btn-small" data-edit="unlink" rel='tooltip' data-placement='bottom' title="Remove Hyperlink"><i class="icon-cut"></i></a>
        </span>
      </li>
      <span class="btn-group hidden-desktop">
        <a class="btn btn-small  dropdown-toggle" rel='tooltip' data-placement='bottom' data-toggle="dropdown" title="Other Tools"><i class="icon-wrench"></i>&nbsp;<b class="caret"></b></a>
        <span class="dropdown-menu">
          <div class="btn-toolbar">
            <span class="btn-group visible-phone">
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
            </span>
            <span class="btn-group visible-phone">
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ol"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="insertorderedlist" title="Number list"><i class="icon-list-ul"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
            </span>
            <span class="btn-group">
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
            </span>
            <span class="btn-group">
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
            </span>
          </div>
        </span>
     </span>
	  <div class="pull-right non-group">
	  	<button class="btn btn-small" rel='tooltip' data-placement='bottom' data-mm-role='close' title='Cancel changes (Esc)'>Cancel</button>
		  <button class="btn btn-small btn-primary" rel='tooltip' data-placement='bottom' data-mm-role='save' title='Save changes (Ctrl/Cmd+Enter)'>Save</button>
	  </div>
    </div>   
	  <div id='attachEditArea' data-mm-role='editor'></div>
</div>
