<div id="modalAttachmentEditor" class="hide">
    <div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
      <div class="btn-group">
        <a class="btn btn-small  dropdown-toggle" rel='tooltip' data-placement='bottom' data-toggle="dropdown" title="Font"><i class="icon-font"></i><b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a data-edit="fontName Arial" style="font-family:Arial">Arial</a></li>
          <li><a data-edit="fontName Times" style="font-family:Times">Times</a></li>
          <li><a data-edit="fontName Courier" style="font-family:Courier">Courier</a></li>
          </ul>
        </div>
      <div class="btn-group">
        <a class="btn btn-small dropdown-toggle" rel='tooltip' data-placement='bottom' data-toggle="dropdown" title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
          <ul class="dropdown-menu">
          <li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
          <li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
          <li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
          </ul>
      </div>
      <div class="btn-group hidden-phone">
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
      </div>
      <div class="btn-group hidden-phone">
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ol"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="insertorderedlist" title="Number list"><i class="icon-list-ul"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
      </div>
      <div class="btn-group hidden-tablet-portrait" >
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
      </div>
      <div class="btn-group hidden-tablet-portrait">
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
        <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
	  </div>
    <div class="btn-group">
      <a class="btn btn-small  dropdown-toggle" rel='tooltip' data-placement='bottom' data-toggle="dropdown" title="Other Tools"><i class="icon-wrench"></i>&nbsp;<b class="caret"></b></a>
        <div class="dropdown-menu">
          <div class="btn-toolbar visible-phone">
            <div class="btn-group">
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="bold" title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="italic" title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="strikethrough" title="Strikethrough"><i class="icon-strikethrough"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="underline" title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
            </div>
          </div>
          <div class="btn-toolbar visible-phone">
            <div class="btn-group">
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="insertunorderedlist" title="Bullet list"><i class="icon-list-ol"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="insertorderedlist" title="Number list"><i class="icon-list-ul"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="outdent" title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="indent" title="Indent (Tab)"><i class="icon-indent-right"></i></a>
            </div>
          </div>
          <div class="btn-toolbar">
            <div class="btn-group" >
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="justifyleft" title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="justifycenter" title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="justifyright" title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="justifyfull" title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
            </div>
          </div>
          <div class="btn-toolbar">
            <div class="btn-group">
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="undo" title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
              <a class="btn btn-small" rel='tooltip' data-placement='bottom' data-edit="redo" title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
            </div>
          </div>
        </div>
      </div>
	  <div class="pull-right non-group">
	  	<button class="btn btn-small" rel='tooltip' data-placement='bottom' data-mm-role='close' title='Cancel changes (Esc)'>Cancel</button>
		<button class="btn btn-small btn-primary" rel='tooltip' data-placement='bottom' data-mm-role='save' title='Save changes (Ctrl/Cmd+Enter)'>Save</button>
	  </div>
	</div>
	  <div id='attachEditArea' data-mm-role='editor'></div>
</div>
