<div id="modalAttachmentEditor" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Edit attachment</h3>
  </div>
  <div class="modal-body">
	  <textarea data-mm-role='editor' class='huge'></textarea>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary pull-right" data-mm-role='save'>Save</button>
    <button class="btn" data-dismiss="modal">Cancel</button>
  </div>
</div>
