<div id='modalDownload' class='modal hide fade'>
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
    <h3>Download Image</h3>
  </div>
  <div class='modal-body'>
	  <p>Please right click on the image below and save it. (Note that the
	  image is full size, we're just displaying it smaller here).</p>
	  <img />
  </div>
  <div class='modal-footer'>
    <a href='#' data-dismiss='modal' class='btn btn-primary'>Close</a>
  </div>
</div>
