<div id="modalFeedback" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Ask a question or send feedback</h3>
  </div>
  <div class="modal-body">
	<form class="form-horizontal" action="http://submit.jotformpro.com/submit/<%=ENV['JOTFORM_CONTACT']%>/" method="post" name="form_<%=ENV['JOTFORM_CONTACT']%>" id="<%=ENV['JOTFORM_CONTACT']%>" accept-charset="utf-8" novalidate="true" target="jotForm">
	  <input type="hidden" name="formID" value="<%=ENV['JOTFORM_CONTACT']%>">
	  <input type="hidden" name="q8_browserInfo" id="modalBrowserInfo"/>
	  <input type="hidden" name="q9_activityLog" id="modalActivityLog"/>
	  <input type="hidden" name="q10_screenInfo" id="modalScreenInfo"/>
	  <input type="hidden" name="q11_pageInfo" id="modalPageInfo"/>
	  <div class="control-group">
	    <label class="control-label" for="inputEmail" >Email</label>
	    <div class="controls">
	      <input type="text" id="inputEmail" name="q3_email" placeholder="Email">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputName" >Name</label>
	    <div class="controls">
	      <input type="text" id="inputName" name="q1_name" placeholder="Name">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputFeedback">Feedback</label>
	    <div class="controls">
	      <textarea id="inputFeedback" rows="5" name="q4_askUs"></textarea>
	    </div>
	  </div>
	</form>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
    <a id="sendFeedBackBtn" href="#" class="btn btn-primary">Send Feedback</a>
  </div>
</div>
		
<iframe id="jotForm" name="jotForm" style="display:none;visibility:hidden" ></iframe>
			
<script>
  sendErrorReport=function(message){
    logActivity("Feedback","Open");
    $('#modalFeedback textarea').val(message);
    $('#modalFeedback [name=q1_name]').val('automated error report');
    sendFeedbackForm();
  }
  sendFeedbackForm=function(){
    $('#modalPageInfo').val(window.location.href);
    $('#modalBrowserInfo').val(navigator.userAgent);
    $('#modalActivityLog').val(JSON.stringify(_userActivityLog));
    $('#modalScreenInfo').val(JSON.stringify(window.screen)+ " resolution:"+ $(window).width() +"x"+$(window).height());
    $("#modalFeedback form").submit();			
  }
	$(function() {
		$(".menuFeedback").click(function() {
			logActivity("Feedback","Open");
      $('#modalFeedback textarea').val('');
    });
		$("#sendFeedBackBtn").click(function() {				
      logActivity("Feedback","Send");
      sendFeedbackForm();
			$('#modalFeedback').modal('hide');
			showAlert("Thank you for your feedback!","We'll get back to you as soon as possible.")
		});
	});
</script>
