<div id='modalHelp' class='modal hide fade'>
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
    <h3>MindMup Help</h3>
  </div>
  <div class='modal-body' >
      <p>MindMup is a zero-friction online mind mapping tool. We aim to create the most productive mind mapping canvas out there, and remove
      all the distractions. There is no advertising, no spam, no registration needed - just you and your ideas. MindMup is free, and we'll
      opensource the code soon.</p>
      <h4>Sharing maps</h4>
      <p>Click on "Save" and your map gets a unique URL. Just copy &amp; share the URL with colleagues and friends, or use one of the
      share buttons to send it to a social networking site. Anyone can edit the map, but won't change your copy - 
      every time you save it a new URL is generated.</p>
      <h4>Productive canvas</h4>
      <p>There are some nice keyboard shortcuts for more productive mind-mapping:</p>
      <ul>
        <li>Create a new child node by pressing <strong>Enter</strong></li>
        <li>Delete the node by pressing <strong>Backspace</strong></li>
        <li>Use arrow keys to navigate around the map</li>
        <li>When editing, just press <strong>Tab</strong> or <strong>Enter</strong> to complete editing, or cancel the editing by pressing <strong>Escape</strong></li>
      </ul>
      <p>You can also navigate using your mouse:</p>
      <ul>
        <li>Click a node to select it</li>
        <li>Double-click to edit</li>
        <li>Drag &amp; drop nodes to reorder or change parents</li>
        <li>Click and drag outside nodes to move the entire map</li>
      </ul>
  </div>
  <div class='modal-footer'>
    <a href='#' data-dismiss='modal' class='btn btn-primary'>Close</a>
  </div>
</div>
