<div id='modalImport' class='modal hide fade'>
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
    <h3>Import a file</h3>
  </div>
  <div class='modal-body'>
	  <p>You can import a MindMup (.mup) or a FreeMind (.mm) file from your local computer. Just select the file using the button below.</p>
  </div>
  <div class='modal-footer'>
	  <div class="pull-left" data-mm-role="status"></div>
	  <button data-mm-role='select-file' class='btn btn-primary btn-file'>Select File</button>
	  <input type="file" name="file" />
  </div>
</div>
