<div id="modalTerms" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Terms &amp; Conditions</h3>
  </div>
  <div class="modal-body">
    <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
    <p>All user created content stored on Google Drive is the ownership of the respective users that created it and unless specified differently
    all rights belong to those users. All user content stored on anonymous MindMup public storage is licensed under the <a href='http://creativecommons.org/publicdomain/zero/1.0/legalcode'  rel='nofollow' target='_blank'>CC0 1.0 Universal</a> terms</p>
    <p>Software copyright &copy; Gojko Adzic, Damjan Vujnovic, David de Florinier 2013</p>
    <p>Built with <a href='http://twitter.github.com/bootstrap/' rel='nofollow' target='_blank'>Bootstrap</a>,
    <a href='http://www.sinatrarb.com/' rel='nofollow' target='_blank'>Sinatra</a>,
    <a href='http://kineticjs.com/' rel='nofollow' target='_blank'>KineticJs</a> and
    <a href='http://jquery.com/' rel='nofollow' target='_blank'>JQuery</a>. 
    Icons from <a href='http://fortawesome.github.com/Font-Awesome' rel='nofollow' target='_blank'>Font Awesome</a> by Dave Gandy.</p>
  </div>
  <div class="modal-footer">
    <a href='#' data-dismiss='modal' class='btn btn-primary'>Close</a>
  </div>
</div>
