<div id="topbar" class="navbar navbar-fixed-top navbar">
  <div class="navbar-inner">
    <div class="container">
		<button id="toggleTopbar" data-mm-role="toggle-class" data-mm-target="body" data-mm-class="hidden-topbar" rel="tooltip" data-title="toggle menu bar (ctrl+shift+b)"
			data-placement='right' data-mm-key="ctrl+shift+b meta+shift+b"><i class="icon-hand-down"></i><i class="icon-hand-up"></i></button>
      <ul class="nav pull-left">
        <li><a id="logo-img" class="hidden-phone" href="/default" rel="tooltip" title="Mindmup Home" data-category="Top Bar" data-event-type="Logo">&nbsp;</a></li>
        <li class="hidden-tablet-portrait hidden-touch"> <a href="/map/new" data-category="Top Bar" data-event-type="Create a Map"><i class="icon-lightbulb"></i>&nbsp;Create&nbsp;a&nbsp;Map</a> </li>
        <li class="dropdown visible-phone visible-touch visible-collapsed-toolbar"> <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-category="Top Bar" data-event-type="Tools">
          <i class="icon-wrench hidden-phone"></i>&nbsp;Tools&nbsp;<b class="caret"></b></a>
		  <ul class="dropdown-menu" role="menu">
			  <li class="hide hidden-touch visible-collapsed-toolbar" rel="tooltip" data-title="Ctrl+b"><a data-mm-target="body" data-mm-role="toggle-class" data-mm-class="collapsed-toolbar"><i class="icon-food"></i>&nbsp;Open&nbsp;toolbar</a></li>
			  <li class="hidden-touch dropdown-submenu">
			  <a href="#"><i class="icon-save"></i>&nbsp;Export Map</a>
			  <ul class="dropdown-menu" role="menu">
				  <li><a rel="nofollow" href="#" data-mm-role="remote-export" data-mm-target="#formExport" data-mm-format="mup" data-category="Top Bar" data-event-type="Export MindMup">MindMup</a> </li>
				  <li><a rel="nofollow" href="#" data-mm-role="remote-export" data-mm-target="#formExport" data-mm-format="mm" data-category="Top Bar" data-event-type="Export FreeMind">FreeMind</a> </li>
				  <li><a rel="nofollow" href="#" data-mm-role='png-export' data-category="Top Bar" data-event-type="Export Image">Image (PNG)</a> </li>
					<li><a rel="nofollow" href="#" data-mm-role="remote-export" data-mm-target="#formExport" data-mm-format="html" data-category="Top Bar" data-event-type="Export Html">HTML Table</a> </li>
					<li><a rel="nofollow" href="#" data-mm-role="remote-export" data-mm-target="#formExport" data-mm-format="txt" data-category="Top Bar" data-event-type="Export CSV">Text (tab separated)</a> </li>
			  </ul>
			  </li>

			  <li class="hidden-touch hidden-map-changed hidden-map-not-sharable dropdown-submenu">
			  <a href="#"><i class="icon-share-alt"></i>&nbsp;Share Map</a>
			  <ul class="dropdown-menu" role="menu">
				  <li><a data-target="#modalShareEmail" data-toggle="modal" data-category='Tools' data-event-type='Share Email'><i class="icon-envelope"></i>&nbsp;by e-mail</a></li>
				  <li><a data-mm-role="share" data-mm-target="twitter"  data-category='Map' data-event-type='Share Twitter'><i class="icon-twitter"></i>&nbsp;on Twitter</a></li>
				  <li><a data-mm-role="share" data-mm-target="facebook" data-category='Map' data-event-type='Share Facebook'><i class="icon-facebook"></i>&nbsp;on Facebook</a></li>
			  </ul>
			  </li>
			  <li class="divider hidden-touch"></li>
          <li rel="tooltip" data-title="Tab"><a data-category="Tools" data-event-type="Add idea" class="addSubIdea"><i class="icon-signout" ></i>&nbsp;Add Child</a></li>
          <li rel="tooltip" data-title="Spacebar"><a data-category="Tools" data-event-type="Edit idea" class="editNode"><i class="icon-pencil"></i>&nbsp;Edit node</a></li>
          <li rel="tooltip" data-title="Shift+Spacebar"><a data-category="Tools" data-event-type="Node Color"><input type="hidden" data-mm-target-property='background' class="updateStyle"></input>&nbsp;Node color</a></li>
		  <li rel="tooltip" data-title="A"><a data-category="Tools" data-event-type="Open Attachment" class="openAttachment"><i class="icon-paper-clip"></i>&nbsp;Node Attachment</a></li>
          <li rel="tooltip" data-title="/ or Ctrl+Up"><a data-category="Tools" data-event-type="Collapse idea" class="toggleCollapse"><i class="icon-leaf"></i>&nbsp;Expand/collapse</a></li>
          <li class="hidden-phone-landscape" rel="tooltip" data-title="Enter"><a data-category="Tools" data-event-type="Insert Sibling" class="addSiblingIdea"><i class="icon-download-alt" ></i>&nbsp;Add Sibling</a></li>
          <li class="hidden-phone-landscape" rel="tooltip" data-title="Shift+Tab"><a data-category="Tools" data-event-type="Insert Intermediate" class="insertIntermediate"><i class="icon-signin" ></i>&nbsp;Add Parent</a></li>
		  <li rel="tooltip" data-title="Backspace"><a data-category="Tools" data-event-type="Delete idea" class="removeSubIdea"><i class="icon-remove"></i>&nbsp;Delete</a></li>
		  <li rel="tooltip" data-title="Ctrl+z"><a data-category="Tools" data-event-type="Undo" class="undo"><i class="icon-undo"></i>&nbsp;Undo</a></li>
		  <li class="hidden-phone-landscape" rel="tooltip" data-title="Ctrl+Shift+z"><a data-category="Tools" data-event-type="Redo" class="redo"><i class="icon-repeat"></i>&nbsp;Redo</a></li>
		  <li class="hidden-phone-landscape" rel="tooltip" data-title="Ctrl+x"><a data-category="Tools" data-event-type="Cut" class="cut"><i class="icon-cut"></i>&nbsp;Cut</a></li>
		  <li class="hidden-phone-landscape" rel="tooltip" data-title="Ctrl+c"><a data-category="Tools" data-event-type="Copy" class="copy"><i class="icon-copy"></i>&nbsp;Copy</a></li>
		  <li class="hidden-phone-landscape" rel="tooltip" data-title="Ctrl+v"><a data-category="Tools" data-event-type="Paste" class="paste"><i class="icon-paste"></i>&nbsp;Paste</a></li>
        </ul>
        </li>
        <li class="dropdown changed-phone-hidden"> <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-category="Top Bar" data-event-type="Open Bookmarks">
			<span class="hidden-phone"><i class="icon-user"></i>&nbsp;My</span>&nbsp;Maps&nbsp;<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" id="listBookmarks">
		  <li><a>Save a map and it will appear here</a></li>
          <li class="template" style="display:none"><a data-category="Top Bar" data-event-type="Bookmark click"><button data-mm-role='bookmark-delete' class='btn-inline pull-right icon-remove' rel='tooltip' data-title='Remove bookmark'></button></a></li>
          <li class="divider" data-mm-role="bookmark-keep" />
          <li data-mm-role="bookmark-keep"> <a href="/map/new" data-category="Top Bar" data-event-type="Create a Map"><i class="icon-lightbulb"></i>&nbsp;Create&nbsp;a&nbsp;Map</a> </li>
          <li data-mm-role="bookmark-keep">
		  <a href="#" data-event-type="Import" class="hidden-touch" data-category="Top Bar" data-target="#modalImport" data-toggle="modal"><i class="icon-upload"></i>&nbsp;Import a Freemind or MindMup file</a>
          </li>
          <li data-mm-role="bookmark-keep">
		  <a href="#" data-event-type="Open from Google" data-category="Top Bar" data-target="#modalGoogleOpen" data-toggle="modal"><i class="icon-cloud-upload"></i>&nbsp;Open from Google Drive</a>
          </li>
          <li data-mm-role="bookmark-keep">
      <a href="#" data-event-type="Open from Browser Storage" data-category="Top Bar" data-target="#modalLocalStorageOpen" data-toggle="modal"><i class="icon-laptop"></i>&nbsp;Open from Browser Storage</a>
          </li>
          <li data-mm-role="bookmark-pin">
		  <a href="#" data-event-type="Pin" data-category="Top Bar"><i class="icon-pushpin"></i>&nbsp;Bookmark this map</a>
          </li>
        </ul>
        </li>
        <li data-mm-role="save" class="visible-map-changed pull-left btn-group">
          <button class="btn btn-primary" data-mm-role="publish" data-category="Toolbar Click" data-event-type="Save Map">Save</button>
		  <button class="btn dropdown-toggle" data-toggle='dropdown'><span data-mm-role='currentrepo' class='repo-a'>&nbsp;</span><b class="caret"></b></button>
          <ul class="dropdown-menu">
            <li><a data-mm-repository='a' rel="nofollow" href="#" data-category="Toolbar Click" data-event-type="Save to MindMup">MindMup</a></li>
            <li><a data-mm-repository='g' rel="nofollow" href="#" data-category="Toolbar Click" data-event-type="Save to Google Drive">Google&nbsp;Drive</a></li>
            <li><a data-mm-repository='o' rel="nofollow" href="#" data-category="Toolbar Click" data-event-type="Save to Brownser Storage">Browser&nbsp;Storage</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li class="hidden-phone changed-tablet-hidden"><a id="gplus-share" href="https://plus.google.com/u/0/communities/112831595986131146219" target="_blank" data-category="Top Bar" data-event-type="g+ community" data-title="Join MindMup G+ community"  style="text-decoration:none;">&nbsp;</a></li>
        <li class="menulink hidden-phone changed-tablet-hidden"> <div class="fb-like" data-href="http://facebook.com/mindmupapp" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div> </li>
        <li class="menulink hidden-phone changed-tablet-hidden"> <a href="https://twitter.com/mindmup" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-lang="en">Follow</a> </li>
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-category="About" data-event-type="Open">About<span class="hidden-phone">&nbsp;MindMup</span>&nbsp;<b class="caret"></b></a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
          <li> <a href="#" class="menuAbout" data-target="#modalAbout" data-toggle="modal" data-category="About" data-event-type="One-minute intro"><i class="icon-coffee"></i>&nbsp;One-minute intro</a> </li>
          <li> <a target="_blank" data-category="About" href="http://mindmup.uservoice.com/" data-event-type="Vote on features"><i class="icon-bullhorn"></i>&nbsp;Vote on features</a> </li>
          <li> <a href="#" class="menuterms" data-target="#modalTerms" data-toggle="modal" data-category="About" data-event-type="Legal info"><i class="icon-legal"></i>&nbsp;Legal info</a> </li>
          <li> <a href="http://blog.mindmup.com" target="_blank" data-category="About" data-event-type="News/Blog"><i class="icon-rss"></i>&nbsp;News/Blog</a> </li>
          <li> <a href="http://github.com/mindmup" target="_blank" data-category="About" data-event-type="Source Code"><i class="icon-github-sign"></i>&nbsp;Source Code</a> </li>
          <li> <a href="#" id="menuFeedback" data-target="#modalFeedback" data-toggle="modal" data-category="Feedback" data-event-type="Open" data-label="topbar"><i class="icon-comment"></i>&nbsp;Talk to Us</a> </li>

          <li class="visible-phone divider"></li>
          <li class="visible-phone"> <a target="_blank" href="http://facebook.com/mindmupapp" data-category="About" data-event-type="Connect on FB"><i class="icon-facebook"></i>&nbsp;Connect on Facebook</a></li>
          <li class="visible-phone"> <a target="_blank" href="http://twitter.com/mindmup" data-category="About" data-event-type="Connect on Twitter"><i class="icon-twitter"></i>&nbsp;Follow on Twitter</a></li>
          <li class="visible-phone"> <a target="_blank" href="https://plus.google.com/u/0/communities/112831595986131146219" data-category="About" data-event-type="Connect on G+"><i class="icon-google-plus"></i>&nbsp;Join Google+ Community</a></li>
           <li class="divider"></li>
             <li><a data-mm-role="toggle-class" data-mm-target="body" data-mm-class='image-render' href="?">
          <span class="image-render-hidden">Turn on performance tweaks</span><span class="image-render-visible">Turn off performance tweaks</span>
           </a></li>
        </ul>
        </li>
      </ul>
    </div>
  </div>
  <%= erb :welcome_message %>
</div>
