<div id="topbar" class="navbar navbar-static-top navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav pull-left">
			<li><a id="logo-img" class="hidden-phone" href="/default" rel="tooltip" title="Mindmup Home" data-category="Top Bar" data-event-type="Logo">&nbsp;</a></li>
            <li> <a href="/map/new" data-category="Top Bar" data-event-type="Create a Map"><i class="icon-lightbulb"></i>&nbsp;Create&nbsp;a&nbsp;Map</a> </li>
            <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-category="Top Bar" data-event-type="Open Bookmarks">
              <i class="icon-user"></i>&nbsp;My&nbsp;Maps&nbsp;<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" id="listBookmarks">
				  <li><a href="#">Save a map and it will appear in this list</a></li>
				  <li class="template" style="display:none"><a data-category="Top Bar" data-event-type="Bookmark click"><button data-mm-role='bookmark-delete' class='btn-inline pull-right icon-remove' rel='tooltip' data-title='Remove bookmark'></button></a></li>
				  <li class="divider" data-mm-role="bookmark-keep" />
				  <li data-mm-role="bookmark-keep">
				  <a href="#" data-event-type="Import" data-category="Top Bar" data-target="#modalImport" data-toggle="modal">Import a Freemind or MindMup file</a>
				  </li>
              </ul>
            </li>
          </ul>
          <ul class="nav pull-right">
            <li class="visible-desktop"><a id="gplus-share" href="https://plus.google.com/u/0/communities/112831595986131146219" target="_blank" data-category="Top Bar" data-event-type="g+ community" data-title="Join MindMup G+ community"  style="text-decoration:none;">&nbsp;</a></li>
            <li class="menulink visible-desktop"> <div class="fb-like" data-href="http://facebook.com/mindmupapp" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div> </li>
            <li class="menulink visible-desktop"> <a href="https://twitter.com/mindmup" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" data-lang="en">Follow</a> </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" data-category="About" data-event-type="Open">About&nbsp;MindMup&nbsp;<b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li> <a href="#" class="menuAbout" data-target="#modalAbout" data-toggle="modal" data-category="About" data-event-type="One-minute intro"><i class="icon-coffee"></i>&nbsp;One-minute intro</a> </li>
                <li> <a href="#" data-target="#modalVote" data-toggle="modal" data-category="About" data-event-type="Vote on features"><i class="icon-bullhorn"></i>&nbsp;Vote on features</a> </li>
                <li> <a href="#" class="menuterms" data-target="#modalTerms" data-toggle="modal" data-category="About" data-event-type="Legal info"><i class="icon-legal"></i>&nbsp;Legal info</a> </li>
                <li> <a href="http://blog.mindmup.com" target="_blank" data-category="About" data-event-type="News/Blog"><i class="icon-rss"></i>&nbsp;News/Blog</a> </li>
                <li> <a href="http://github.com/mindmup" target="_blank" data-category="About" data-event-type="Source Code"><i class="icon-github-sign"></i>&nbsp;Source Code</a> </li>
				<li> <a href="#" id="menuFeedback" data-target="#modalFeedback" data-toggle="modal" data-category="Feedback" data-event-type="Open" data-label="topbar"><i class="icon-comment"></i>&nbsp;Talk to Us</a> </li>
				<li class="hidden-desktop divider"></li>
				<li class="hidden-desktop"> <a target="_blank" href="http://facebook.com/mindmupapp" data-category="About" data-event-type="Connect on FB"><i class="icon-facebook"></i>&nbsp;Connect on Facebook</a></li>
				<li class="hidden-desktop"> <a target="_blank" href="http://twitter.com/mindmup" data-category="About" data-event-type="Connect on Twitter"><i class="icon-twitter"></i>&nbsp;Follow on Twitter</a></li>
				<li class="hidden-desktop"> <a target="_blank" href="https://plus.google.com/u/0/communities/112831595986131146219" data-category="About" data-event-type="Connect on G+"><i class="icon-google-plus"></i>&nbsp;Join Google+ Community</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <%= erb :welcome_message %>
</div>
