<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    Your browser is detected as <%=browser.body_class %><br/>
    <%= erb :scripts%>
	<script>

    var showErrors=function () {
		var i,
        errorScripts = ScriptHelper.errorScripts,
        failedScripts = ScriptHelper.failedScripts(),
        showScript = function (label, url) {
          var div, a;
          a = document.createElement('a');
          a.href = url;
          a.appendChild(document.createTextNode(label + url));
          div = document.createElement('div');
          div.appendChild(a);
          document.getElementsByTagName('body')[0].appendChild(div);
		};
		for (i = 0; i < errorScripts.length; i += 1) {
		  showScript('error: ', errorScripts[i]);
		}
		for (i = 0; i < failedScripts.length; i += 1) {
		  showScript('failed: ', failedScripts[i]);
		}
		document.getElementsByTagName('body')[0].appendChild(document.createTextNode('Failed! (retries left='+ScriptHelper.loadWaitRetry+')'));
	};
	var complete=function(){
		document.getElementsByTagName('body')[0].appendChild(document.createTextNode('Success! (retries left='+ScriptHelper.loadWaitRetry+')'));
	}
	ScriptHelper.afterLoad({success: complete, fail:showErrors});
    </script>
  </body>
</html>
