html, body {
  height: 100%;
}
#container {
  width:100%;
  min-height: 100%;
  background-color: #F4F0F8;
}
@media (min-width: 979px) {
  #container {
    margin-top:85px;
  }
}
@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom:0px;
  }
}
.ideaInput {
  position: absolute;
  z-index: 999;
  background-color: #5FBF5F;
  color: #FFFFFF;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 13px;
  line-height:13px;
  text-align: center;
  padding:0;
}
.ideaInput:focus {
  outline: none;
}
.fb-like {margin-top:10px;}
