html, body {
  height: 100%;
}
#container {
  width:100%;
  min-height: 100%;
}
#modalHelp .modal-body {
  max-height:307px;
}
#toolbarSocial {
  margin-right: 20px;
}
#logo-img {
 background-image:url('/logo_32.png');
 background-position:left center;
 background-repeat:no-repeat;
 margin-left:6px;
}
@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom:0px;
  }
}
.ideaInput {
  position: absolute;
  z-index: 999;
  background-color: #5FBF5F;
  color: #FFFFFF;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 13px;
  line-height:13px;
  text-align: center;
  padding:0;
}
.ideaInput:focus {
  outline: none;
}
.menulink {margin-left:10px; margin-top:10px;}
.bottombar {text-align:center;position:relative;margin-bottom:0px;top:-70px;}
