#container {
  margin-top:120px;
}
.alertContainer {
  margin-top:80px;
}  
.ideaInput {

  position: absolute;
  border: none;
  z-index: 999;
  background-color: transparent;
  color: #F8F8F8;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 13;
  text-align: center;
}
.ideaInput:focus {
  outline: none;
}
