html, body {
  height: 100%;
}
#container {
  width:100%;
  min-height: 100%;
}
#toolbarSocial {
  margin-right: 20px;
}
#logo-img {
 background-image:url('http://mindmup.s3.amazonaws.com/lib/img/logo_32.png');
 background-position:left center;
 background-repeat:no-repeat;
 width: 40px;
 height: 40px;
 padding: 0;
}
@media (max-width: 979px) {
.navbar-fixed-top, .navbar-fixed-bottom {
position: fixed;
margin-bottom:0px;
}
}
@media (max-width: 767px) {
.navbar {
  padding-left:20px;
  padding-right: 20px;
}
body {
	padding: 0px; /* cancel default bootstrap padding on mobile screens, we use full screen */
}
}
@media (max-height: 320px) {
.hidden-phone-landscape {
  display: none;
}
}
@media (max-width: 400px) {
	.map-changed .changed-phone-hidden {
		display: none !important;
	}
}
@media screen {
  #topbar  .nav > li > a { font-weight:bold; }
}
#floating-toolbar { position:absolute; top:100px; right:10px;z-index:999; border:1px solid #0088cc; border-radius:9px; }
.ios .visible-touch, .android .visible-touch {
  display: block !important;
}
.ios .hidden-touch, .android .hidden-touch {
  display: none !important;
}
.map-changed .hidden-map-changed {
  display: none;
}
.map-unchanged .visible-map-changed {
  display: none;
}
#toolbarEdit button { margin-top:5px; }
.ideaInput {
  position: absolute;
  z-index: 999;
  background-color: #5FBF5F;
  color: #FFFFFF;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 13px;
  line-height:13px;
  text-align: center;
  padding:0;
}
.center {
  text-align: center
}
.ideaInput:focus {
  outline: none;
}
.menulink { margin-right: 20px; margin-top:10px;}
#gplus-share { 
  border:0;height:16px;background-image: url('//ssl.gstatic.com/images/icons/gplus-16.png');
 background-position:left center;
 background-repeat:no-repeat;
 margin-left: 6px; margin-right:20px; margin-top:2px;
 padding-right: 0px;
}
#modalDownload .modal-body {
	text-align: center;
}
#modalDownload .modal-body p {
	text-align: left;
}
#modalDownload img{
	max-height:300px; max-width:450px;
}
.share {
	width:32px;
	height:32px;
	display:inline-block;
	margin: 5px 5px 5px 5px;
	cursor: pointer;
}

.shareFacebook {
	background-image: url('http://mindmup.s3.amazonaws.com/lib/img/facebook_32.png');
}
.shareEmail {
	background-image: url('http://mindmup.s3.amazonaws.com/lib/img/email_32.png');
}
.shareTwitter {
	background-image: url('http://mindmup.s3.amazonaws.com/lib/img/twitter_32.png');
}
.btn-inline {
	border: 0px;
	background: transparent;
	margin-left:5px;
	margin-right:5px;
}
.colorPicker_hexWrap { display: none }
div.colorPicker-picker { display: inline; float: left; background: none }
#modalImport input[type='file']{ 
	opacity:0;
	position:absolute;
	width:0px;
	height:0px;
}
.repo-g {
	background-image: url('http://mindmup.s3.amazonaws.com/lib/img/google_drive.png');
	background-repeat: no-repeat;
	background-position:left center;
}
.repo-a {
	background-image: url('http://mindmup.s3.amazonaws.com/lib/img/logo_16.png');
	background-repeat: no-repeat;
	background-position:left center;
}
a.repo-g, a.repo-a {
	margin-left: 5px;
}
span.repo-g, span.repo-a {
	padding-left:16px;
}
.dropdown-menu li a {
	cursor: pointer
}
.collapsed-toolbar .visible-collapsed-toolbar {
	display: block !important;
}
.collapsed-toolbar .hidden-collapsed-toolbar {
	display: none !important;
}

#listBookmarks a .btn-inline {
	margin-left:15px;
}
