html, body {
  height: 100%;
}
#container {
  width:100%;
  min-height: 100%;
}
#toolbarSocial {
  margin-right: 20px;
}
#logo-img {
 background-image:url('http://mindmup.s3.amazonaws.com/lib/img/logo_32.png');
 background-position:left center;
 background-repeat:no-repeat;
 margin-left:6px;
}
@media (max-width: 979px) {
  .navbar-fixed-top {
    margin-bottom:0px;
  }
}
@media screen {
  #topbar  .nav > li > a { font-weight:bold; }
}
#floating-toolbar { position:absolute; top:100px; right:10px;z-index:999; border:1px solid #0088cc; border-radius:9px; }
#toolbarEdit button { margin-top:5px; }
.ideaInput {
  position: absolute;
  z-index: 999;
  background-color: #5FBF5F;
  color: #FFFFFF;
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 13px;
  line-height:13px;
  text-align: center;
  padding:0;
}
.ideaInput:focus {
  outline: none;
}
.menulink {margin-left:10px; margin-top:10px;}
#gplus-share { 
  border:0;height:16px;background-image: url('//ssl.gstatic.com/images/icons/gplus-16.png');
 background-position:left center;
 background-repeat:no-repeat;
 margin-left: 6px; margin-top:2px;
}
#modalDownload .modal-body {
	text-align: center;
}
#modalDownload .modal-body p {
	text-align: left;
}
#modalDownload img{
	max-height:300px; max-width:450px;
}
.share {
	width:32px;
	height:32px;
	display:inline-block;
	margin: 5px 5px 5px 5px;
	cursor: pointer;
}

.shareFacebook {
	background-image: url('http://mindmup.s3.amazonaws.com/lib/img/facebook_32.png');
}
.shareEmail {
	background-image: url('http://mindmup.s3.amazonaws.com/lib/img/email_32.png');
}
.shareTwitter {
	background-image: url('http://mindmup.s3.amazonaws.com/lib/img/twitter_32.png');
}
.btn-inline {
	border: 0px;
	background: transparent;
	margin-left:5px;
	margin-right:5px;
}
.color-picker-container {padding: 10px 2px}
.colorPickerLabel {display:inline; float:right}
.colorPicker_hexWrap { display: none }
.colorPicker-picker { display: inline; float: left }
